BasedOnStyle: Google
IndentWidth: 4
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All       # <-- lets short lambdas stay inline
BinPackArguments: true
BinPackParameters: true
AllowShortBlocksOnASingleLine: true
ColumnLimit: 0
AlignAfterOpenBracket: DontAlign
AlignOperands: false
DerivePointerAlignment: false
PointerAlignment: Left
